.config/WebCord
.config/btop/btop.log
.config/dconf
.config/go
.config/fish
.config/fish
.config/fish/fish_variables
.config/emacs/
.config/gtk-3.0
.config/libfm
.config/nitrogen
.config/pcmanfm
.config/pulse
.config/spicetify
.config/spotify
.config/systemd
